.App {
  background-color: #DCEDF9;
  text-align: center;
  height: 100vh;
  overflow: auto; /* fills screen */
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.sign-up {
  text-align: left;
  margin: auto;
  padding: 20px;
  width: 70%;
}
