.App {
  text-align: center;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.sign-up {
  text-align: left;
  margin: auto;
  padding: 20px;
  width: 70%;
}
